<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="works">Works</a></li>
      <li><a href="about">About</a></li>
    </ul>
  </nav>
  <%- body %>
  <footer>
    <p>No rights reserved. 2022</p>
  </footer>
</body>
</html>