
<h1>Works</h1>

<div class="gallery">
  <img class="work-img" src="images/1.jpg" alt="">
  <img class="work-img" src="images/2.jpeg" alt="">
  <img class="work-img" src="images/3.jpg" alt="">
  <img class="work-img" src="images/4.jpg" alt="">
</div>
<div class="gallery">
  <img class="work-img" src="images/5.jpg" alt="">
  <img class="work-img" src="images/6.jpg" alt="">
  <img class="work-img" src="images/7.webp" alt="">
  <img class="work-img" src="images/8.jpg" alt="">
</div>